@import 'variables';

// Common styles for alerts
.alert {
    padding: $bp $bga;
    border-radius: $br;
    box-shadow: $bsh;
    &.close-btn {
        cursor: pointer;
        padding-inline-start: $bp;
    }
}

// Alert variations based on colors
@each $key, $clr in $colors {
    .alert-#{$key} {
        background-color: $clr;
        color: if($clr == $light, $dark, $light);
    }
}
