//
@import 'variables';


.btn{
    color: $light;
    background-color: $primary;
    border-radius: $br;
    border: none;
    padding: $bp;
    outline: none;
    cursor: pointer;
}


@each $key, $clr in $colors {
  .btn-#{$key}-outline{
    background-color: transparent;
    border: $b-thickness solid $clr;
    color: $clr;
    &:hover{
        background-color: $clr;
        color: $light;
        border: none;
        @if ($clr == $light) {
            color: $dark;
            
        }


        }
  }
}

@each $key, $clr in $colors {
  .btn-#{$key}{
      background-color: $clr;
      @if ($clr == $light ) { 
          color: $dark;
      }
    &:hover{
        background-color: transparent;
        border: $b-thickness solid $clr;
        color: $clr;

        }
  }
}



@each $key, $clr in $colors {
  .border-#{$key}{
      border: $b-thickness solid $clr;
  }
}

@each $key, $clr in $colors {
  .clr-accent-#{$key}{
      accent-color:$clr;
  }
}

