// Importing variables
@import 'variables';

// Button styles
.btn {
    color: $light;
    background-color: $primary;
    border-radius: $br;
    border: none;
    padding: $bp;
    outline: none;
    cursor: pointer;
    box-shadow: $bsh;
    font-size: $b-fs;
    margin: $bga;

    &.small {
        font-size: $sm-fs;
    }

    &.large {
        font-size: $lg-fs;
    }

    &.xl {
        font-size: $xl-fs;
    }

    &.xxl {
        font-size: $xxl-fs;
    }
}

// Button variations
@each $key, $clr in $colors {
    .btn-#{$key} {
        background-color: $clr;
        @if ($clr == $light ) { 
            color: $dark;
        }

        &:hover {
            background-color: transparent;
            border: $b-thickness solid $clr;
            color: $clr;
        }
    }

    .btn-outline-#{$key} {
        background-color: transparent;
        border: $b-thickness solid $clr;
        color: $clr;

        &:hover {
            background-color: $clr;
            color: $light;
            border: none;
        }
    }
}

