// Learn more about this technique:
// @link https://moderncss.dev/solutions-to-replace-the-12-column-grid/

$minColWidth: 12rem;
$gridGap: 2rem;


.grid-wrap {
  padding: $gridGap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minColWidth, 1fr));
  grid-gap: 2rem;
  text-align: center;

  & + .grid {
    margin-top: $gridGap;
  }
}

body {
  min-height: 100vh;
  font-family: "Baloo 2", sans-serif;
}

