@import 'variables';
@import url('http://fonts.cdnfonts.com/css/earth-orbiter');
@import url('http://fonts.cdnfonts.com/css/bord-demo');


nav:default{
    background-color: $light;
    color: $dark;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.1);
    min-height: 80px;
}

.logo{
    font-size: 1.5rem;
    font-family: 'Bord Demo', sans-serif;
}
.nav-links ul{
    margin-inline-end: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.hamburger{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;
}
.hamburger > span.bar{
    width: 100%;
    height: 3px;
    border-radius: 8px;
}
.bar:default{
    background-color: $light;

}
.drop-links{
    padding: 2em;
    position: absolute;
    background-color: $light;
}
.drop-links >li{
    padding: .5rem;
}
details{
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .hamburger{
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
        min-height: calc(100vh - 56px);
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;

    }
    .logo{
        margin: 0;
        line-height: 3;
        padding: .25em;
    }
    .nav-links ul{
        margin-inline-end: 0;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

    }
    .nav-links li{
        padding: 20px 30px;
        text-align: center;
    }
    .nav-links li a{
        padding: .5rem 1rem;
    }
    .nav-links.active{
        display: flex;
    }
.drop-links{
    position: initial;
}
  
}
