// import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('http://fonts.cdnfonts.com/css/bord-demo');


@import '_variables';
@import '_breakpoint';


/* reset styles */
/**
 * The `*` class is a CSS selector that targets all elements on the page.
 * It sets the box-sizing property to border-box, which includes the padding and border in the element's total width and height.
 * It also sets the color property to inherit, which allows elements to inherit the color of their parent elements.
 * Finally, it sets the margin property to 0, which removes any default margins on elements.
 */
* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}
body::-webkit-scrollbar {
  width: 3px;               /* width of the entire scrollbar */
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}
h1 {
    color:$dark;
}
.fs-bord{
    font-family: 'Bord Demo', sans-serif;
}
.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.box{
    padding: 1rem;
}
.form-container {
  margin: 40px auto;
  text-align: center;
}
input,textarea {
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #d2d2d2;
}

:is(input,textarea):focus{
  border: 1px solid $primary;
}


.carousel{
    display: flex;
    gap: 20px;
    align-items: center;
    overflow-x: auto;
    scroll-snap-align: start;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}
.carousel::-webkit-scrollbar{
    display: none;
}
::selection{
    background-color: darken($color: $primary, $amount: 20%);
    color: $light;
    text-shadow: none;
}
select{
    font-family: inherit;
    padding: 0.875em;
    border-radius: 8px;
    width: clamp(50%, 20em, 100%);
    border: 1px solid transparent;
    box-shadow: 0 3px 2px -3px $primary;
    transition: border 0.3s ease-in, outline 0.6s ease-in, box-shadow 0.6s ease-in;
    appearance: none;
  background-image: url('data:image/svg+xml; utf8, <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.2929,5.292875 C12.6834,4.902375 13.3166,4.902375 13.7071,5.292875 C14.0976,5.683375 14.0976,6.316555 13.7071,6.707085 L8.70711,11.707085 C8.31658,12.097605 7.68342,12.097605 7.29289,11.707085 L2.29289,6.707085 C1.90237,6.316555 1.90237,5.683375 2.29289,5.292875 C2.68342,4.902375 3.31658,4.902375 3.70711,5.292875 L8,9.585765 L12.2929,5.292875 Z"  style="fill: hsl(222,20%,40%);"/></svg>');
  background-size: 1em;
  background-position: calc(100% - 1em) 50%;
  background-repeat: no-repeat;

  .dark & {
    background-image: url('data:image/svg+xml; utf8, <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.2929,5.292875 C12.6834,4.902375 13.3166,4.902375 13.7071,5.292875 C14.0976,5.683375 14.0976,6.316555 13.7071,6.707085 L8.70711,11.707085 C8.31658,12.097605 7.68342,12.097605 7.29289,11.707085 L2.29289,6.707085 C1.90237,6.316555 1.90237,5.683375 2.29289,5.292875 C2.68342,4.902375 3.31658,4.902375 3.70711,5.292875 L8,9.585765 L12.2929,5.292875 Z"  style="fill: hsl(222,20%,70%);"/></svg>');
  }
  outline: none;

  &:focus {
    border-color: var(--tint);
    outline-color: var(--tint2);
    transition: border 0.6s ease-out, outline 0.3s ease-out,
      box-shadow 0.3s ease-out;
  }

  &::placeholder {
    opacity: 0.33;
    font-style: italic;
  }
 position: relative;
}

input[type="range"]{
-webkit-appearance:none;
}

input[type="radio"]{
padding:0;
border:none;
-webkit-appearance:none;
width:1rem;
height:1rem;
outline:3px solid hsl(0deg, 5%, 10%); 
outline-offset:3px;
}

input[type="radio"]:checked{
    background-color: hsl(0deg, 5%, 10%); 

}


@import '_buttons';
@import '_card';
@import '_text';
@import '_utility';
@import '_grid';
@import '_nav';
@import '_tables';
@import '_alerts';
@import 'dropdown';
